doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title winterriot
    script(src='scripts/riot.js')
    script(src='riot/example-tag.js')
  body
    div.frame
      h1 Wintersmith Riot Example
      example-tag

      script.
        riot.mount('example-tag')
